In [1]:
2 < 3

True

In [2]:
2 ==2

True

In [3]:
3<=3

True

In [7]:
"carl" < "chris"

True

In [8]:
"carl" > "chris"

False

In [ ]:
#can't use different data types i.e str and int can't be compared but int and float can 
#element wise comparison 
# != inequality

In [9]:
2 == (1 + 1)

True

In [10]:
"intermediate" != "python"

True

In [11]:
True != False

True

In [12]:
"Python" != "python"

True

In [13]:
# Comparison of booleans
print(True == False)

# Comparison of integers
print((-5*15) != 75)

# Comparison of strings
print("pyscript" == "PyScript")

# Compare a boolean with an integer
print(True == 1)

False
True
False
True

In [15]:
print(3 < 4)
print(3 <= 4)
print("alpha" <= "beta")

True
True
True

In [17]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])
# my_house greater than or equal to 18
print(my_house>=18)

# my_house less than your_house
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

In [19]:
True and True

True

In [20]:
False and True

False

In [21]:
False and False

False

In [22]:
x = 12 
x> 5 and x<15

True

In [23]:
print(True or True)
print(False or True)
print(True or False) 
print(False or False)

True
True
True
False

In [24]:
y = 5 
y < 7 or y > 13

True

In [25]:
not True

False

In [26]:
not False

True

In [ ]:
#NumPy 
logical_and()
logical_or()
logical_not() 
#to return the booleans 
np.logical_and(bmi > 21, bmi<22)
#to return the values 
bmi[np.logical_and(bmi>21, bmi<22)]

In [27]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen > 10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen < 14 or my_kitchen > 17)

# Double my_kitchen smaller than triple your_kitchen?
print((my_kitchen*2)<(your_kitchen*3))

False
True
True

In [28]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

In [30]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house <10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False  True False  True]
[False False False  True]

In [ ]:
#Comparison operators 
# < , > , >= , <= , == , != 
# and , or , not
# if , else , elif

In [2]:
z = 4 
if z % 2 == 0 : #True 
    print("z is even")

z is even

In [ ]:
#if condition execute expression 
#must indent

In [8]:
z = 5
if z % 2 == 0 : #False 
    print("z is even")
else :
    print("z is odd")

z is odd

In [14]:
z = 3
if z % 2 == 0 : 
    print("z is divisible by 2") # False
elif z % 3== 0 : 
    print("z is divisible by 3") #True 
else : 
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3

In [15]:
z = 6
if z % 2 == 0 : 
    print("z is divisible by 2") # False
elif z % 3== 0 : 
    print("z is divisible by 3") #True 
else : 
    print("z is neither divisible by 2 nor by 3") 

#note as soon as condition is met it prints the expression associated with the met condition there even though 6 is disible by both we don't get two print outs as the condition was met and expression exceuted.

z is divisible by 2

In [16]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

medium

In [18]:
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

# if statement for area
if area > 15 :
    print("big place!")
else : 
    print("pretty small.")

looking around in the kitchen.
pretty small.

In [20]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10 :
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

In [21]:
dict = {
    "country":["Brazil", "Russia", "India", "China", "South Africa"],
    "capital":["Brasilia", "Moscos", "New Delhi", "Beijing", "Pretoria"], 
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population":[200.4, 143.5, 1252, 1357, 52.98]}

In [22]:
import pandas as pd 
brics = pd.DataFrame(dict)

In [23]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscos  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [24]:
brics["area"]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [25]:
brics.loc[:,"area"]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [26]:
brics.iloc[:,2]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [28]:
is_huge = brics["area"] > 8

In [29]:
is_huge

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [30]:
brics[is_huge]
#subset the pandas dataframe

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscos  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [31]:
import numpy as np 
np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [32]:
brics[np.logical_and(brics["area"] > 8, brics["area"] <10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

In [48]:
import pandas as pd 
cars = pd.read_csv("C:/Users/David/Desktop/brics_folder/cars.csv", index_col = 0)

In [49]:
cars

         country  drives_right  cars_per_cap

0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [50]:
dr = cars["drives_right"]

In [51]:
sel = cars[dr]
print(sel)

         country  drives_right  cars_per_cap

0  United States          True           809
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [54]:
cpc = cars["cars_per_cap"]
car_maniac = cars["cars_per_cap"] > 500 
car_maniac

0     True
1     True
2     True
3    False
4    False
5    False
6    False
Name: cars_per_cap, dtype: bool

In [55]:
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 10, cpc < 80)
medium = cars[between]
medium

   country  drives_right  cars_per_cap

3    India         False            18
5  Morocco          True            70
6    Egypt          True            45