In [ ]:
#loop
#while conditon ;
#    expression 

#repeat action until a condition is met.

In [2]:
error = 50.0

# 50 

while error > 1: 
    error = error / 4 
    print(error)

12.5
3.125
0.78125

In [3]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [4]:
offset = 8 
while offset != 0 : 
    print("correcting...")
    offset = offset - 1 
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [5]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
        offset = offset - 1
    else : 
        offset = offset + 1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [8]:
# for loop 
# for var in seq : 
#    expression 
    
## for each var in seq, exeute expression.

In [13]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam : 
    print(height)

1.73
1.68
1.71
1.89

In [14]:
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) : 
    print("index" + str(index) + ": " + str(height))

index0: 1.73
index1: 1.68
index2: 1.71
index3: 1.89

In [15]:
for c in "family" : 
    print(c.capitalize())

F
A
M
I
L
Y

In [17]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for a in areas : 
    print(a)

11.25
18.0
20.0
10.75
9.5

In [19]:
for index, a in enumerate(areas) : 
    print("room " + str(index) + ": " + str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [20]:
for index, a in enumerate(areas) : 
    print("room " + str(index + 1) + ": " + str(a)) # can update index number to start from 1 rather than zero

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [21]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch

for index, h in enumerate(house) : 
    print("the " + h[0] + " is " + str(h[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [1]:
world = {"aghanistan" : 30.55, 
        "albania" : 2.77, 
        "algeria": 39.21 }
for key,value in world : 
    print(key + "--" + str(value)) 
    
    #won't work

ValueError: too many values to unpack (expected 2)

In [5]:
#call method items on world to get around this 

world = {"aghanistan" : 30.55, 
        "albania" : 2.77, 
        "algeria": 39.21 }
for key,value in world.items() : #items() added to code which enables this to work however not ordered
    print(key + "--" + str(value)) 
    
#key and value are arbitray we could use k and v

aghanistan--30.55
albania--2.77
algeria--39.21

In [6]:
import numpy as np 

np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bmi = np_weight / np_height **2

for val in bmi : 
    print(val)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

In [7]:
import numpy as np 

np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
meas = np.array([np_height, np_weight]) 

for val in meas : 
    print(val) 
    
#using the above method prints out the two separte arrays

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.6 88.4 68.7]

In [8]:
import numpy as np 
#if we use np.nditer() then we can get every element of the array opposed to the two arrays  
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
meas = np.array([np_height, np_weight]) 

for val in np.nditer(meas) : #np.nditer() added here
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

In [ ]:
#To recap: if you want to iterate over key-value pairs in a dictionary, 
#use the items() method on the dictionary to define the sequence in the for loop. 
#If you want to iterate over all elements in a NumPy array, you should use the nditer() function to specify the sequence. 
#Pay attention here: dictionaries require a method, NumPy arrays use a function.

In [11]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
for key,value in europe.items() : #items() added to code which enables this to work however not ordered
    print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [ ]:
# loop data structures part 2

In [20]:
dict = {
    "country":["Brazil", "Russia", "India", "China", "South Africa"],
    "capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"], 
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population":[200.4, 143.5, 1252, 1357, 52.98]}

In [21]:
import pandas as pd 
brics = pd.DataFrame(dict)

In [22]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [15]:
for val in brics : 
    print(val)

country
capital
area
population

In [23]:
for lab, row in brics.iterrows() : 
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [29]:
#print label and capital only together 

for lab,row in brics.iterrows() : 
    print(lab + ": " + row["capital"] + " " + row["country"])

BR: Brasilia Brazil
RU: Moscow Russia
IN: New Delhi India
CH: Beijing China
SA: Pretoria South Africa

In [30]:
for lab,row in brics.iterrows() : 
    print(lab + ": " + row["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [31]:
for lab, row in brics.iterrows() : #creating series on every iteration 
    brics.loc[lab, "name_length"] = len(row["country"]) 
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [32]:
#more efficient method than above 

brics["name_length"] = brics["country"].apply(len)
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

In [36]:
import pandas as pd 
cars = pd.read_csv("C:/Users/David/Desktop/brics_folder/cars.csv", index_col = 0) 
print(cars)

         country  drives_right  cars_per_cap

0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [37]:
for lab, row in cars.iterrows() : 
    print(lab)
    print(row)

0
country         United States
drives_right             True
cars_per_cap              809
Name: 0, dtype: object
1
country         Australia
drives_right        False
cars_per_cap          731
Name: 1, dtype: object
2
country         Japan
drives_right    False
cars_per_cap      588
Name: 2, dtype: object
3
country         India
drives_right    False
cars_per_cap       18
Name: 3, dtype: object
4
country         Russia
drives_right      True
cars_per_cap       200
Name: 4, dtype: object
5
country         Morocco
drives_right       True
cars_per_cap         70
Name: 5, dtype: object
6
country         Egypt
drives_right     True
cars_per_cap       45
Name: 6, dtype: object

In [40]:
for lab,row in cars.iterrows() : 
    print(str(lab) + ": " + str(row["cars_per_cap"]))

0: 809
1: 731
2: 588
3: 18
4: 200
5: 70
6: 45

In [49]:
for lab, row in cars.iterrows() : #creating series on every iteration 
    cars.loc[lab, "COUNTRY"] = (row["country"]).upper()
print(cars)

         country  drives_right  cars_per_cap        COUNTRY

0  United States          True           809  UNITED STATES
1      Australia         False           731      AUSTRALIA
2          Japan         False           588          JAPAN
3          India         False            18          INDIA
4         Russia          True           200         RUSSIA
5        Morocco          True            70        MOROCCO
6          Egypt          True            45          EGYPT

In [51]:
cars["COUNTRY"] = cars["country"].apply(str.upper)
print(cars)

         country  drives_right  cars_per_cap        COUNTRY

0  United States          True           809  UNITED STATES
1      Australia         False           731      AUSTRALIA
2          Japan         False           588          JAPAN
3          India         False            18          INDIA
4         Russia          True           200         RUSSIA
5        Morocco          True            70        MOROCCO
6          Egypt          True            45          EGYPT